{% extends 'base.html.twig' %}

{% block main %}
<div class="m-3">
    <h1 class="text-center">{{ book.title }}</h1>
    <div class="row">
        <div class="col text-center">
            <i>{{ book.author }}</i>
        </div>
    </div>
    {% if book.cover %}
        <div class="row">
            <div class="col text-center">
                {{ cover(book.cover, 200, 200)|raw }}
            </div>
        </div>
    {% endif %}
    {% if book.download %}
        {% if book.file %}
            <div class="row">
                <div class="col text-center">
                    <a href="{{ path('download', {'id': book.id}) }}" class="btn btn-primary">Download</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
