{% extends 'base.html.twig' %}

{% block title %}Book Library{% endblock %}

{% block body %}
<div>
    <h1>{{ book.title }}</h1>
    <p><i>{{ book.author }}</i></p>
    {% if book.cover %}
        {{ cover(book.cover, 200, 200)|raw }}
    {% endif %}
    {% if book.download %}
        {% if book.file %}
            <p><a href="/{{ book.file }}">Download</a></p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
