<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Book Library{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                <nav class="navbar bg-dark">
                    <a class="navbar-brand mr-auto" href="/">Book Library</a>
                    {% if app.user is not null %}
                        <div class="navbar-text text-light">{{ app.user.username }}</div>
                        <a class="navbar-nav ml-1" href="/logout">Logout</a>
                    {% else %}
                        <a class="navbar-nav" href="/login">Login</a>
                    {% endif %}
                </nav>
            {% endblock %}
            {% block main %}{% endblock %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
